*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #51557e;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* ============ Navbar ================== */

.navbar {
  padding: 0.85em;
  margin-bottom: 0.7em;
  text-align: center;
  background-color: blueviolet;
  color: #f3f3f3;
}
